<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
        <pattern>%-7([%level]):%msg %logger %n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!-- application log -->
    <appender name="applicationLog" class="ch.qos.logback.core.FileAppender">
        <file>C:/logs/stvWebStore/applicationLog.log</file>
        <encoder>
            <pattern>hostName:%X{hostName}\tIP:%X{IP}\tsystem:%X{system}\tdate:%date\tthread:%thread\tuserID:%X{userID}\tcompanyID:%X{companyID}\t%msg%n</pattern>
        </encoder>
    </appender>

    <!-- access log -->
    <appender name="accessLog" class="ch.qos.logback.core.FileAppender">
        <file>C:/logs/stvWebStore/accessLog.log</file>
        <encoder>
            <pattern>hostName:%X{hostName}\tIP:%X{IP}\tsystem:%X{system}\tdate:%date\tthread:%thread\tclient:%X{client}\tuserID:%X{userID}\tcompanyID:%X{companyID}\t%msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!-- performance log -->
    <appender name="performanceLog" class="ch.qos.logback.core.FileAppender">
        <file>C:/logs/stvWebStore/performanceLog.log</file>
        <encoder>
            <pattern>hostName:%X{hostName}\tIP:%X{IP}\tsystem:%X{system}\tdate:%date\t%msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <!-- loginStatus log -->
    <appender name="loginStatusLog" class="ch.qos.logback.core.FileAppender">
        <file>C:/logs/stvWebStore/IDMFLog.log</file>
        <encoder>
            <pattern>hostName:%X{hostName}\tIP:%X{IP}\tsystem:%X{system}\tdate:%date\tthread:%thread\t%msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <logger name="jp.co.toshiba_sol.staveware.auth">
        <appender-ref ref="loginStatusLog" />
    </logger>

    <logger name="applicationLogger">
        <appender-ref ref="applicationLog" />
    </logger>

    <logger name="accessLogger">
        <appender-ref ref="accessLog" />
    </logger>

    <logger name="performanceLogger">
        <appender-ref ref="performanceLog" />
    </logger>

    <root>
        <appender-ref ref="STDOUT" />
    </root>

</configuration>