<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="nz.co.identity.management.api.logininfo.mapper.ImPasswordHistoryMapper">
	<resultMap id="BaseResultMap"
		type="nz.co.identity.management.api.logininfo.entity.ImPasswordHistory">
		<id column="login_id" jdbcType="VARCHAR" property="loginId" />
		<id column="company_code" jdbcType="VARCHAR" property="companyCode" />
		<id column="version_no" jdbcType="NUMERIC" property="versionNo" />
		<result column="password_history" jdbcType="VARCHAR" property="passwordHistory" />
		<result column="password_changed_time" jdbcType="TIMESTAMP"
			property="passwordChangedTime" />
		<result column="password_changed_user" jdbcType="VARCHAR"
			property="passwordChangedUser" />
		<result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
		<result column="created_user" jdbcType="VARCHAR" property="createdUser" />
	</resultMap>
	<sql id="Base_Column_List">
		login_id, company_code, version_no, password_history,
		password_changed_time,
		password_changed_user,
		created_time, created_user
	</sql>
	<select id="selectByPasswordHistory"
		parameterType="nz.co.identity.management.api.logininfo.entity.ImPasswordHistory"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from im_password_history
		where login_id = #{loginId,jdbcType=VARCHAR}
		and company_code = #{companyCode,jdbcType=VARCHAR}
	</select>
</mapper>